version: '3'
services:

  mariadb:
    image: mariadb
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: test_pass # TODO: Change this
      MYSQL_USER: hackathon
      MYSQL_PASS: hackathon
      MYSQL_DATABASE: hackathon
    networks:
      phastload:
        aliases:
            - mariadb
        ipv4_address: 172.0.0.3

  phastload:
    image: phast
    restart: always
    ports:
      - 80:80
      - 443:443
    volumes:
      - ./phastload:/opt/phastload
    environment:
      - DJANGO_SETTINGS_MODULE=phastload.production
      - SECRET_KEY=z3l6=^qdf@m*%%hyc**hzw_^^69%**5sd4ae7#shfjh(=jd3a(
    networks:
      phastload:
        aliases:
            - phastload
        ipv4_address: 172.0.0.2

networks:
  phastload:
    driver: bridge
    ipam:
      config:
        - subnet: 172.0.0.0/24
